---
layout: default
title: Dax-Mix Herbal Smoking Blend
permalink: /index.html
---

<!-- HEADER -->
#header_wrap.outer
  .inner.center
    %img#logo{src: "images/enochian-alphabet-alpha.png", alt: "enochian-seal"}

#high-priority-information-wrap.outer
  %section#high-priority-information.inner.center
    %h1 DAX-MIX
    %h2 HERBAL SMOKING BLEND

<!-- MAIN CONTENT -->
<!-- Nav buttons -->
#nav-wrap.outer
  %ul#nav.inner.center
    %li#mercury-button.tab-button
      %img{src: "images/mercury.png", alt: "mercury"}
    %li#venus-button.tab-button
      %img{src: "images/venus.png", alt: "venus"}
    %li#luna-button.tab-button
      %img{src: "images/luna.png", alt: "luna"}

<!-- content about each blend -->
#mercury-wrap.outer
  %section#mercury.tab.inner.center.hidden
    %h1
      Uplifting, energizing, and invigorating - a refreshing blend for daytime smoking

#venus-wrap.outer
  %section#venus.tab.inner.center.hidden
    %h1
      Smooth, seductive and powerful - a delicious blend to activate tactile and sensual impressions

#luna-wrap.outer
  %section#luna.tab.inner.center.hidden
    %h1
      Ethereal, calm and dreamy - a relaxing blend to relieve insomnia and release stress and anxiety
